.about {
    padding-left: 6%;
    padding-right: 6%;
    padding-top: 2%;
    padding-bottom: 8%;
}


.camstnhd {
    font-size: 96px;
    left: 0;
}
.subtitle {
    font-size: 18px;
    position: relative;
    bottom: 5.5em;
    padding-left: .5em;
}

.title_unit {
    position: relative;
    top: 0;
    left: 0;
}

.email {
    width: 175px;
    height: 30px;
    border-style: solid;
    border-color: white;
    border-width: 2px;
    border-radius: 10px;
    padding: 12px;
    padding-top: 20px;
    padding-bottom: 20px;
    display: inline;
    position: relative;
    top: 0em;
    left: 0;
}

#mail {
    width: 50px;
    height: 50px;
    vertical-align: middle;
    padding-right: 2.5px;
    
}

#mailtxt {
    font-size: 22px;
    vertical-align: middle;
    padding-left: 2.5px;
    color: inherit;
}

.email:hover {
    background-color: rgb(74, 77, 114, .25); 
}

.aboutme {
    width: 450px;
    height: 130px;
    position: relative;
    left: 0;
    bottom: 3em;
    border-left-style: solid;
    border-left-color: white;
    border-left-width: 2px;
    padding-left: 25px;
}

.abtpg {
    font-size: 20px;
    vertical-align: middle;
    padding-top: .5em;
}
