.contact {
    padding-top: 3rem;
    padding-bottom: 3rem;
    border-bottom: 2px solid #5B5D7C;
    display:block;
}
.contact_title {
    font-size: 3rem;
    width: 70vh;
    height: auto;
    display: block;
}

.contact_subtitle {
    font-size: 1.188rem;
    padding-top: 1rem;
    padding-bottom: 3rem;
    width: 49vh;
    stroke-width: 100%;
    stroke: white;
    font-weight: 500;
    height: auto;
    display:block;
}

.link_grid img {
    width: 40px;
    height: 40px;
    padding: 1rem;
    background-color: #5B5D7C;
    border-radius: 5px;
    margin: .25rem;
}

.link_grid img:hover {
    background-color: rgb(237, 125, 40);
}