#lang-btn {
    background-color: transparent;
    border: 1.65px solid white;
    color: white;
    width: 40px;
    height: 40px;
    border-radius: 7.5px;
    position: fixed;
    right: 2em;
    top: 3em;
    font-size: .8rem;
    letter-spacing: .1rem;
    font-weight: 700;
}

#fixed-nav {
    position: fixed;
    right: 2rem;
    bottom: 3rem;
    list-style-type: none;
    text-align: right;
    font-size: 1.3rem;
    line-height: 1.40;
    text-decoration: underline white .15px;
    color: white;
}

#home {
    margin-left: 7.5%;
    margin-right: 7.5%;
    padding-top: 5%;
    padding-bottom: 5%;
    border-bottom: 3px solid rgba(44, 44, 54, 0.793);
}

#h-t-container {
    line-height: 1.25;
    display: flex;
    flex-direction: column;
}

#h-t {
    font-size: 3.35rem;
    color: white;
}

#h-st {
    font-weight: 600;
    letter-spacing: 0.05rem;
    font-size: 1.05rem;
    color: var(--lightgreyblue);
}

#h-desc {
    padding-top: .25rem;
    padding-bottom: .25rem;
    padding-left: 1.35rem;
    padding-right: 30rem;
    font-size: 1.15rem;
    border-left: 1px solid white;
}

#recent-projects {
    margin-top: 3rem;
    margin-bottom: 6rem;
    display: flex;
    flex-direction: column;
}

#recent-projects-img-1 {
    width: 40rem;
    height: 20rem;
    box-shadow: 2px 2px 2px 2px rgb(26, 25, 25);
    border-radius: 2.5px;
}

#rc-img-caption {
    margin-top: 1rem;
    font-size: 1.1rem;
    text-decoration: underline;
}