.links {
    padding-top: 5%;
}

.links_title {
    font-size: 300%;
}

.link_grid img {
    width: 40px;
    height: 40px;
    padding: 1rem;
    background-color: #091c30;
    border-radius: 5px;
    margin: .25rem;
}

.link_grid img:hover {
    background-color: rgb(118, 135, 152);
}

.Additional a {
    font-family: 'Roboto Mono';
    color: #6e91be;
    text-decoration: underline;
    line-height: 2;
    font-size: 110%;
}

.Additional a::after {
    content: ' ↗';
}

.Additional a:hover {
    color: lightcoral;
}

.Additional {
    list-style: none;
    margin-bottom: 2rem;
    padding-left: 0;
    
}