@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300&family=Work+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400&display=swap');
@import url('variables.css');
@import url('about.css');
@import url('software.css');
@import url('links.css');

body {
    color: var(--light_slate);
    background-color: #061321;
    font-family: 'Rubik', sans-serif;
    padding: 7.5%;
}

.work_sans {
    font-family: 'Work Sans', sans-serif;
}

.whiter_txt {
    color: var(--soft_white);
}

.grayer_txt {
    color: var(--light_slate);
}

.highlight {
    color: var(--highlight);
}

.Monospace {
    font-family: 'Roboto Mono';
}

.highlight2 {
    color: #6e91be;
}

body::-webkit-scrollbar {
    width: 1em;
  }
   
  body::-webkit-scrollbar-track {
    background-color: rgb(22, 21, 23);
  }
   
  body::-webkit-scrollbar-thumb {
    background-color: rgb(50, 50, 57);
  }

  body::-webkit-scrollbar-thumb:hover {
    background-color: rgb(77, 77, 88);
  }