@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300&family=Work+Sans:wght@300&display=swap');
@import url('variables.css');
@import url('about.css');
@import url('software.css');




body {
    color:var(--light_slate);
    background-color: var(--bg);
    font-family: 'Rubik', sans-serif;
    padding: 7.5%;
}

.work_sans {
    font-family: 'Work Sans', sans-serif;
}

.whiter_txt {
    color: var(--soft_white);
}

.grayer_txt {
    color: var(--light_slate)
}