.work {
    padding-top: 7.5%;
    padding-bottom: 7.5%;
    height: auto;
    border-bottom:2.25px solid rgb(120, 136, 153,.5);
}
.work_table {
    width: 50%;
    margin-top: 3%;
    padding-left: .5%;
    border-left: 1px solid var(--light_slate);
}

.work_table th {
    padding: .5rem;
    text-align: left;
    font-size: 120%;
}

.work_table td {
    padding: .5rem;
    text-align: left;
}

.work_table td:first-child {
    font-family: 'Roboto Mono';
    color: #6e91be;
}

.work_table td:nth-child(2) {
    color: var(--soft_white);
}

.work_table td:nth-child(3) {
    font-family: 'Roboto Mono';
    color: lightslategray;
}

.work_table img {
    width: 30px;
    height: 30px;
    color: var(--light_slate);
}

.work_table img:hover {
    border-radius: 5px;
    background-color: rgb(17, 23, 61);
}