#portfolio {
    margin-left: 7.5%;
    margin-right: 7.5%;
    padding-top: 5%;
    padding-bottom: 5%;
    border-bottom: 3px solid rgba(44, 44, 54, 0.793);
}

#p-t-container {
    display: flex;
    flex-direction: column;
}

#p-t {
    font-size: 2.5rem;
    color: white;
}

#p-desc {
    margin-top: 2rem;
    padding-top: .15rem;
    padding-bottom: .15rem;
    padding-left: 1.35rem;
    min-width: 45%;
    font-size: 1.10rem;
    width: min-content;
    border-left: 1px solid white;
}

#p-desc-2 {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 2rem;
    border: 2px solid rgb(83, 99, 108);
    background-color: rgba(1, 38, 59, 0.301);
    border-radius: 7px;
    padding-right: 1rem;
    width: fit-content;
}

#document-icon {
    width: 50px;
    height: 50px;
}

.p-table {
    width: 100%;
    margin-top: 4rem;
    text-align: left;
    line-height: 2rem;
    height: max-content;
}

.p-table th {
    font-size: 1.5rem;
    font-weight: 400;
    padding-bottom: 1.5rem;
    color: white;
}

.p-table tr > td:last-child > span {
    background-color: rgba(2, 59, 93, 0.301);
    border-radius: 20px;
    padding-top: .075rem;
    padding-bottom: .075rem;
    padding-left: .75rem;
    padding-right: .75rem;
    text-align: center;
    margin-inline: .15rem;
}

.p-table tr > td:first-child {
    font-weight: bold;
    width: min-content;
}

.p-table tr > td:last-child {
    display: flex;
    justify-content: flex-end;
}

#c-t {
    font-size: 2.25rem;
    color: white;
}

.link_grid {
    margin-top: 2rem;
}

.link_grid img {
    width: 40px;
    height: 40px;
    padding: 1rem;
    background-color: #032c547e;
    border-radius: 5px;
    margin: .25rem;
}

.link_grid img:hover {
    background-color: var(--highlightorange);
}

#contact {
    margin-left: 7.5%;
    margin-right: 7.5%;
    padding-top: 5%;
    padding-bottom: 5%; 
}