.gallery {
    padding-top: 5rem;
    border-bottom: .5px solid rgba(255, 255, 255, 0.10);
    padding-bottom: 1rem;
}


.project-card {
    border-radius: 1rem;
    background-color: rgba(18, 32, 40, 0.804);
    padding: 1rem;
}

.project-card > h4 {
    border-bottom: .5px solid rgba(255, 255, 255, 0.10);
}

.g-pg {
     font-size: clamp(.65rem, 2vw, .75rem);
     font-family: 'inter';
    line-height: 1.1;
    font-weight: 300;
    padding-left: 0.2rem;
    border-left: rgba(255, 255, 255, 0.523);
    border-width: 2.5px;
}

.gallery > h3 {
    font-size: clamp(.65rem, 5vw, 2rem);
    line-height: 0.5;
    font-weight: 400;
}

.project-card > h5 {
    padding-left: 0.2rem;
    color: rgba(162, 162, 162, 0.818);
}

.g-container {
    display: grid;
     grid-template-columns:
    repeat(auto-fit, minmax(320px, 1fr));
    gap: 2rem;
    padding-left: .25rem;
}

.gallery-list {
    display: flex;
    list-style-type: none;
    font-family:'inter' ;
    margin-left: 0;
    padding-left: 0;
}

.gallery-list > li {
    background-color: #00000021;
    border-radius: 0.5rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
    margin-right: 0.15rem;
    margin-left: 0;
}

.project-card > img {
    border-radius: .25rem;
    width: 100%;
    aspect-ratio: 16 / 9;
    object-fit: contain;
    display: block;
}