@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Sora:wght@100..800&display=swap');
@import url('about.css');
@import url('hero.css');
@import url('optimize.css');
@import url('featured.css');
@import url('gallery.css');
@import url('contact.css');
@import url('animations.css');
@import url('footer.css');

body {
    background: linear-gradient(to right, #0f2027, #203a43, #2c5364);
    color: whitesmoke;
    overflow: wrap;
    box-sizing: border-box;
}

p {
    font-family: 'inter';
    font-size: clamp(1rem, 2vw, 1.15rem);
    font-weight: 200;
}

.heading, h1, h2, h3, h4, h5 {
    font-family: 'Sora';
    font-weight: 200;
}

a {
    text-decoration: none;
    color: inherit;
}